<p class="data-header">ADD A NEW EMPLOYEE</p>

<div class="data-container">
    <form [formGroup]="employeeForm">
        <div class="row form-group">
            <div class="col-sm-4">
                <label>First name</label>
                <input formControlName="firstName" type="text" class="form-control" placeholder="First Name">
                <p *ngIf="!employeeForm.get('firstName').valid && employeeForm.get('firstName').dirty" class="error">This field is required!</p>
            </div>
            <div class="col-sm-4">
                <label>Last name</label>
                <input formControlName="lastName" type="text" class="form-control" placeholder="Last Name">
                <p *ngIf="!employeeForm.get('lastName').valid && employeeForm.get('lastName').dirty" class="error">This field is required!</p>
            </div>
            <div class="col-sm-4">
                <label>e-mail</label>
                <input formControlName="email" type="text" class="form-control" placeholder="E-mail">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-4">
                <label>Phone Number</label>
                <input formControlName="phoneNumber" type="text" class="form-control" placeholder="Phone Number">
                <p *ngIf="!employeeForm.get('phoneNumber').valid && employeeForm.get('phoneNumber').dirty" class="error">This field is required and must contain at least 9 characters</p>
            </div>
            <div class="col-sm-4">
                    <mat-label>Hire Date </mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="hireDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
            </div>
            <div class="col-sm-4">
                <label>Job Id</label>
                <input formControlName="jobId" type="text" class="form-control" placeholder="Job Id">
            </div>          
        </div>
        <div class="row form-group">
            <div class="col-sm-4">
                <label>Salary</label>
                <input formControlName="salary" type="text" class="form-control" placeholder="Salary">
            </div>
            <div class="col-sm-4">
                <label>Manager Id</label>
                <input formControlName="managerId" type="text" class="form-control" placeholder="Manager Id"> 
            </div>
            <div class="col-sm-4">
                <label>Department Id</label>
                <input formControlName="departmentId" type="text" class="form-control" placeholder="Department Id">
            </div>          
        </div>

        <div class="row">
            <div class="col-sm-12">
                <button [disabled]="employeeForm.invalid" type="submit" class="btn action-yellow-btn float-right" (click) = "addEmployee()">SUBMIT</button>
            </div>
        </div>
    </form>
    <pre> {{ employeeForm.value | json }}</pre>
    <pre> {{ employeeForm.get('firstName').valid| json }}</pre>
</div>
<div class="row">
    <div class="col-sm-12">
        <p> {{ toShow }} </p>
    </div>
</div>