<p class="data-header">ADD A NEW EMPLOYEE</p>

<div class="data-container">
    <form>
        <div class="row form-group">
            <div class="col-sm-4">
                <label>First name</label>
                <input type="text" class="form-control" placeholder="First Name">
            </div>
            <div class="col-sm-4">
                <label>Last name</label>
                <input type="text" class="form-control" placeholder="Last Name">
            </div>
            <div class="col-sm-4">
                <label>e-mail</label>
                <input type="text" class="form-control" placeholder="E-mail">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-4">
                
            </div>
            <div class="col-sm-4">
                
            </div>
            <div class="col-sm-4">
                
            </div>          
        </div>
        <div class="row form-group">
            <div class="col-sm-4">
                
            </div>
            <div class="col-sm-4">
                
            </div>
            <div class="col-sm-4">
                
            </div>          
        </div>

    </form>
</div>