
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <table  class="tr-table table">
                <thead>
                    <tr>
                        <th >Employee</th>
                        <th >Project1</th>
                        <th >Project2</th>
                        <th >Project3</th>
                        <th >Project4</th>
                        <th >Project5</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let project of projects; let i = index">
                        <td>{{ project?.description }}</td>
                        <td>{{ project?.client }}</td>
                        <td>{{ project?.monthlyCost }}</td>
                        <td>{{ project?.startDate }}</td>
                        <td>{{ project?.endDate }}</td>
                        <td>{{ project?.totalCost }}</td>
                        <td ></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>