<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <button class="action-blue-btn center">PROFFESIONS</button>
        </div>
        <div class="col-sm-4">
            <button class="action-blue-btn center">LOCATIONS</button>
        </div>
        <div class="col-sm-4">
            <button class="action-blue-btn center">CONTRACTS</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <button class="action-blue-btn center">PROFFESIONS</button>
        </div>
        <div class="col-sm-4">
            <button class="action-blue-btn center">GRADES</button>
        </div>
        <div class="col-sm-4">
            <button class="action-blue-btn center">CONTRACTS</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <button class="action-blue-btn center">PROJECTS</button>
        </div>
        <div class="col-sm-4">
            <button class="action-blue-btn center">MANAGERS</button>
        </div>
        <div class="col-sm-4">
            <button class="action-blue-btn center">EMPLOYEES</button>
        </div>
    </div>
</div>
