@import 'variables.less';


.enabling-btn {
    background-color: @green;
    border-width: medium;
    border-color: @black;
    color: @black;
    padding: 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

.disabling-btn {
    background-color: @red;
    border-width: medium;
    border-color: @black;
    color: @black;
    padding: 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

.action-yellow-btn {
    background-color: @yellow;
    border-width: medium;
    border-color: @black;
    color: @black;
    padding: 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

.action-blue-btn {
    background-color: @light-blue;
    border-width: medium;
    border-color: @black;
    color: @black;
    padding: 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

.action-panel-btn {
    background-color: @light-grey;
    border-width: 4px;
    border-color: @light-orange;
    color: @black;
    font-weight: 500;
    padding: 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

.action-panel-btn:hover {
    background: @gold-yellow;
    transition: linear 300ms;
}

.plus-button {
    background-color: @silver;
    color: @black;
    border: 2px groove @black;
    text-align: center;

}
