@import 'variables.less';

.tr-table{
    background: @dark-grey;

    th {
        font-weight: 700;
        text-transform: uppercase;
        color: @silver;
    }

    td {
        color: @silver;
    }

    .row-error {
        border: 2px solid @red;
    }
}