@import 'variables.less';

.tr-table{
    margin: 10px;
    padding: 10px;
    background: @light-grey;
    border: 2px solid @orange;

    thead {
        border: 2px solid @orange;
        
    }

    tbody {
        border:  3px solid @black;
        background: @silver;
    }

    th {
        text-align: center;
        font-weight: 700;
        text-transform: uppercase;
        color: @black;
        border: 3px solid @black;
    }

    td {
        color: @black;
        border: 2px solid @orange;
        text-align: center;
    }

    .row-error {
        border-left: 5px solid @red;
    }
}