<tr-header>
    <p levels>Projects</p>

    <div content>
        <p>LOREM IPSUM</p>
    </div>
</tr-header>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <table *ngIf="projects && projects.length>0" class="tr-table table">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Client</th>
                        <th>Monthly cost</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Total Cost</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let project of projects; let i = index">
                        <td>{{ project?.description }}</td>
                        <td>{{ project?.client }}</td>
                        <td>{{ project?.monthlyCost }}</td>
                        <td>{{ project?.startDate }}</td>
                        <td>{{ project?.endDate }}</td>
                        <td>{{ project?.totalCost }}</td>
                        <td class="deleting-cell" (click)="deleteProject(project)"> [x] </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="data-container">
    <form [formGroup]="projectForm">
        <div class="row form-group">
            <div class="col-sm-4">
                <label>Description</label>
                <input formControlName="description" type="text" class="form-control" placeholder="Description">
            </div>
            <div class="col-sm-4">
                <label>Client</label>
                <input formControlName="client" type="text" class="form-control" placeholder="Client">
            </div>
            <div class="col-sm-4">
                <label>Monthly Cost</label>
                <input formControlName="monthlyCost" type="text" class="form-control" placeholder="Monthly Cost">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-4">
                <mat-label>Start Date </mat-label>
                <input matInput [matDatepicker]="picker" formControlName="startDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </div>
            <div class="col-sm-4">
                <mat-label>End Date </mat-label>
                <input matInput [matDatepicker]="picker1" formControlName="endDate">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </div>
            <div class="col-sm-4">
                <label>Total Cost</label>
                <input formControlName="totalCost" type="text" class="form-control" placeholder="Total Cost">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <button [disabled]="projectForm.invalid" type="submit" class="btn action-yellow-btn float-right" (click) = "addProject()">SUBMIT</button>
            </div>
        </div>
    </form>
    <pre> {{ projectForm.value | json }}</pre>
</div>
