<tr-header>
    <p levels>{{employee.firstName}} {{employee.lastName}}</p>

    <div content>
        <p>LOREM IPSUM</p>
    </div>
</tr-header>
<tr-spinner *ngIf="showSpinner"></tr-spinner>

<p class="data-header">Edit EMPLOYEE</p>

<div class="data-container">
    <form [formGroup]="employeeForm">
        <div class="row form-group">
            <div class="col-sm-4">
                <label>First name</label>
                <input formControlName="firstName" type="text" class="form-control" placeholder="First Name">
                <p *ngIf="!employeeForm.get('firstName').valid && employeeForm.get('firstName').dirty" class="error">This field is required!</p>
            </div>
            <div class="col-sm-4">
                <label>Last name</label>
                <input formControlName="lastName" type="text" class="form-control" placeholder="Last Name">
                <p *ngIf="!employeeForm.get('lastName').valid && employeeForm.get('lastName').dirty" class="error">This field is required!</p>
            </div>
            <div class="col-sm-4">
                <label>e-mail</label>
                <input formControlName="email" type="text" class="form-control" placeholder="E-mail">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-4">
                <label>Phone Number</label>
                <input formControlName="phoneNumber" type="text" class="form-control" placeholder="Phone Number">
                <p *ngIf="!employeeForm.get('phoneNumber').valid && employeeForm.get('phoneNumber').dirty" class="error">This field is required and must contain at least 9 characters</p>
            </div>
            
            <div class="col-sm-4">
                <label>Job Id</label>
                <input formControlName="idJob" type="text" class="form-control" placeholder="Job Id">
            </div>          
        </div>
        <div class="row form-group">
            <div class="col-sm-4">
                <label>idLocation</label>
                <input formControlName="idLocation" type="text" class="form-control" placeholder="idLocation">
            </div>
            <div class="col-sm-4">
                <label>idManager Id</label>
                <input formControlName="idManager" type="text" class="form-control" placeholder="idManager Id"> 
            </div>
            <div class="col-sm-4">
                <label>Department Id</label>
                <input formControlName="idDepartment" type="text" class="form-control" placeholder="idDepartment Id">
            </div>          
        </div>

        <div class="row">
            <div class="col-sm-12">
                <button [disabled]="employeeForm.invalid" type="submit" class="btn action-yellow-btn float-right" (click) = "updateEmployee()">SUBMIT</button>
            </div>
        </div>
    </form>
    <pre> {{ employeeForm.value | json }}</pre>
    <pre> {{ employeeForm.get('firstName').valid| json }}</pre>
</div>
<div class="row">
    <div class="col-sm-12">
        <p> {{ toShow }} </p>
    </div>
</div>