<div class="container">
    <div class="row">
        <tr-spinner *ngIf="showSpinner"></tr-spinner>
        <div class="col-sm-5">
            <table class="table tr-table" matSort (matSortChange)="sortTable($event)" *ngIf="!showSpinner">
                <thead>
                    <tr>
                        <th mat-sort-header="lastName">EMPLOYEE</th>
                        <th>Assigned Projects</th>
                    </tr>
                </thead>
                <tbody>   
                <tr *ngFor="let employee of employees; let i = index" (click) = "chooseEmployee(employee.id)" 
                (click) = "activateRow(i)" [ngClass]="{'activatedRow': i===activatedRowIndex}">
                    <td> {{employee.firstName}} {{employee.lastName}}</td>
                    <td class="projects-listing">
                        <ul>
                            <li *ngFor= "let project of employee.projects; let j=index"> {{ project.description }} </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-7">
                <tr-employee-project-row class="projection" *ngIf="chosenEmployee && !showSpinner; else instructionInfo" [employee] = "chosenEmployee"
                [projects]="unassignedProjectsForChosenEmployee" (assignedProject)="refreshComponentViewAfterEmployeeAssigned($event)"
                (unassignedProject)="refreshComponentViewAfterEmployeeAssigned($event)">

                </tr-employee-project-row>
            <ng-template #instructionInfo>
                <p class="instruction" *ngIf="!showSpinner"> Click on employee to open assigment panel.</p>
            </ng-template>
        </div>
    </div>
</div>