@import '../../../assets/styles/variables.less';
.container {
    position: relative;
    right: 130px;
    top: 30px;
    
}
.projection {
    position: fixed;
    
    right: 1%;
    left: 40%;
    
    
}

.activatedRow {
    td {
        background-color: @middle-green;
    }
}

.instruction{
    position: fixed;
    font-size: 32px;
    font-weight: 700;
    left: 50%;
    top: 50%;
    
}

.projects-listing {
    ul{
        list-style-type: square;
        justify-content: left;
        li {
            text-align: left;
            
        }
    }
    
}

tr-spinner{
    position: absolute;
    left: 700px;
    top: 400px;
}

::ng-deep .mat-sort-header-container {
    display:flex;
    justify-content:center;
    
  }



