<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

<tr-header>
    <p levels>Employees</p>

    <div content>
        <p>LOREM IPSUM</p>
    </div>
</tr-header>
<tr-spinner *ngIf="showSpinner"></tr-spinner>
<button  *ngIf="isAddEmployeeButtonActive && showSpinner==false; else backToEmployeesListButton" type="button" (click)="showEmployeeAddingPanel()" class="action-yellow-btn float left">ADD EMPLOYEE</button>
<ng-template #backToEmployeesListButton>
    <button *ngIf="showSpinner==false" type="button" (click)="hideEmployeeAddingPanel()" class="action-blue-btn float left">BACK TO EMPLOYEE LIST</button>
</ng-template>
<div *ngIf="isAddingPanelOnView==false;else employeeAddingPanel" class="container">
    <div class="row">
        <div class="col-sm-12">
            <table *ngIf="employees && employees.length > 0" matSort (matSortChange)="sortEmployees($event)" class="tr-table table">
                <thead>
                    <tr>
                        <th mat-sort-header="lastName">EMPLOYEE</th>
                        <th mat-sort-header="phoneNumber">PHONE NUMBER</th>
                        <th mat-sort-header="jobId">POSITION</th>
                        <th mat-sort-header="departmentId">DEPARTMENT ID</th>
                        <th mat-sort-header="salary">SALARY</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="employee-list-table-row" *ngFor="let employee of employees;let i = index" [routerLink]="['/employees', employee.id]" >
                        <td > {{ employee?.firstName }} {{ employee?.lastName }}</td>
                        <td> {{ employee?.phoneNumber | phoneNumberFormatting }} </td>
                        <td> {{ employee?.jobId | jobIdFormatting}} </td>
                        <td> {{ employee?.departmentId }} </td>
                        <td> {{ employee?.salary }}</td>
                    </tr>
                </tbody>
            </table>
            <!-- <ng-template #noEmployeesInfo>
                <div class="no-employees-info">
                   
                </div>
            </ng-template> -->
        </div>
    </div>
    <tr-average-salary  *ngIf="employees && employees.length > 0" [averageSalary]="averageSalary" (shownAverageSalary)="onShownAverageSalary($event)"></tr-average-salary>
    <div class="row" *ngIf="averageSalary && isAverageSalaryToShowInitialized && averageSalaryToShow">
        <div class="col-sm-12">
            <div class="average-salary">
                <p class="text-right">AVERAGE SALARY: {{ averageSalaryToShow | number}} PLN
            </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="empty-space">
                <p class="float-right">This is employee list</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <button class="action-yellow-btn">TEST BUTTON</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <button class="action-blue-btn">TEST BUTTON</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <button type="button" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
              </button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <button type="button" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
              </button>
        </div>
    </div>
    
</div>
<ng-template #employeeAddingPanel>
    <tr-add-employee></tr-add-employee>
</ng-template>
