<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <table class="tr-table table table-striped">
                <thead>
                    <tr>
                        <th>employee</th>
                        <th>unit</th>
                        <th>position</th>
                        <th>location</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of employees;let i = index">
                        <td> {{ employee.name }} {{ employee.surname }}</td>
                        <td> {{ employee.unit }} </td>
                        <td> {{ employee.position }} </td>
                        <td> {{ employee.location }} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
