<div class="sidebar">
    <nav>
        <ul class="main-list">
            <li [routerLink]="['/employees']" [routerLinkActive]="'active'" (click)="closeAdminPanel()">Employees</li>
            <li>Statistics</li>
            <li>Submit Work Time</li>
            <li [routerLink]="['/admin']" [routerLinkActive]="'active'" (click)="changeIsAdminPanelOpened()">Admin panel
            </li>

            <div class="row">
                <div class="col-sm-12">
                    <tr-nested-sidebar *ngIf="isAdminPanelOpened">
                    </tr-nested-sidebar>

                </div>
            </div>

        </ul>
    </nav>
</div>