<div class="container">
    <div class="row">
        <div class="col-sm-12">
<h3>{{employee.firstName}} {{employee.lastName}}</h3><hr>
<h4>{{employee.job.description}}</h4>
<h4>Department: {{employee.department.description}}</h4>

<table class="table tr-table" matSort (matSortChange)="sortTable($event)">
    <thead>
        <tr>
            <th mat-sort-header="description">PROJECT DESCRIPTION</th>
            <th mat-sort-header="client">CLIENT</th>
            <th mat-sort-header="monthlyCost">PROJECT MONTHLY COST</th>
            <th mat-sort-header="startDate">PROJECT START DATE</th>
            <th mat-sort-header="endDate">PROJECT END DATE</th>
            <th mat-sort-header="totalCost">TOTAL COST</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let project of employee.projects; let i = index">
            <td>{{ project.description }}</td>
            <td>{{ project.client }}</td>
            <td>{{ project.monthlyCost }}</td>
            <td>{{ project.startDate }}</td>
            <td>{{ project.endDate }}</td>
            <td>{{ project.totalCost }}</td>
            <td class="deleting-cell" (click) = "unassignProjectFromEmployee(project.id)">X</td>
        </tr>
    </tbody>
</table>
<h4>Assign project to employee</h4><hr>
<form [formGroup]="projectAssigmentForm">
<mat-form-field>
    <mat-label>Select a project</mat-label>
    <mat-select formControlName="projectId" required>
        <mat-option *ngFor="let project of projects" [value]="project.id">
            {{ project.description }}
        </mat-option>
    </mat-select>
</mat-form-field> <span><button class="action-panel-btn" [disabled]="projectAssigmentForm.invalid" type="submit" (click) = "assignProjectToEmployee()"> Add Project</button></span>
</form>
<div class="selected-project-descriptions" *ngIf="selectedProject"><hr>
<h4>selected project: {{ selectedProject?.description }} | for Client: {{ selectedProject?.client }}</h4> <br>
<h5>Project start date: {{selectedProject?.startDate}} |  Project end date: {{selectedProject?.endDate}}</h5> <br>
<h5>Monthly cost: {{selectedProject?.monthlyCost}} PLN  |  total cost: {{selectedProject?.totalCost}} PLN</h5> <br>
</div>

<!-- <pre> {{ projectAssigmentForm?.value | json }}</pre>
<pre> {{ projectAssigmentForm?.valid | json }}</pre> -->


        </div>
    </div>
</div>

